# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
UPC-DJ-SESSION-02/UPC-DJ-SESSION-01.VC.VC.opendb
UPC-DJ-SESSION-02/UPC-DJ-SESSION-02.VC.db
UPC-DJ-SESSION-02/UPC-DJ-SESSION-02.VC.VC.opendb
UPC-DJ-SESSION-02/UPC-DJ-SESSION-01.VC.db
